<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form #myForm="ngForm">
                <fieldset>
                    <legend class="text-center">Course Registration Form</legend>

                    <div class="form-group">
                        <label for="courseName"><span class="req">* </span> Course Name:</label>
                        <input required type="text" [(ngModel)]="course.courseName" name="courseName" id="courseName"
                            class="form-control phone" maxlength="28" />
                    </div>

                    <div class="form-group">
                        <label for="instructorName"><span class="req">* </span> Instructor Name: </label>
                        <input class="form-control" type="text" [(ngModel)]="course.instructorName" name="instructorName" id="instructorName" required/>
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="roomName"><span class="req">* </span> Room Name : </label>
                        <input class="form-control" type="text" [(ngModel)]="course.roomName" name="roomName" id="roomName" required />
                        <div id="errLast"></div>
                    </div>

                    <div class="form-group">
                        <label for="courseStartTime"><span class="req">* </span> Course Start Time: </label>
                        <input class="form-control" required type="text" [(ngModel)]="course.courseStartTime" name="courseStartTime"
                            id="courseStartTime" />
                        <div class="status" id="status"></div>
                    </div>
                    <div class="form-group">
                        <label for="courseEndTime"><span class="req">* </span> Course End Time: </label>
                        <input class="form-control" required type="text" [(ngModel)]="course.courseEndTime" name="courseEndTime"
                            id="courseEndTime" />
                        <div class="status" id="status"></div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerCourse(myForm)">
                    </div>
                </fieldset>
            </form>
            <!--<div style="text-align: left">
                <h5>{{message}}</h5>
            </div>-->
        </div>
    </div>
</div>